name: Deploy Script to EC2

on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Configure AWS credentials via OIDC
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume: arn:aws:iam::538605215529:role/github
        aws-region: ap-south-1

    - name: Upload deploy script to S3
      env:
        S3_BUCKET: myapp-emexr        
        SCRIPT_NAME: deploy.sh
        REGION: ap-south-1
      run: |
        echo "Uploading deploy.sh to S3..."
        aws s3 cp ./scripts/$SCRIPT_NAME s3://$S3_BUCKET/$SCRIPT_NAME --region $REGION

    - name: Deploy script to EC2 via SSM
      env:
        REGION: ap-south-1
        INSTANCE_ID: i-055aaab9a654f2e4c   
        LOG_GROUP: /github-actions/deploy-logs
        S3_BUCKET: myapp-emexr
        SCRIPT_NAME: deploy.sh
      run: |
        echo "Sending SSM command to download and execute deploy.sh..."
        aws ssm send-command \
          --targets "Key=instanceIds,Values=${INSTANCE_ID}" \
          --document-name "AWS-RunShellScript" \
          --comment "Deploy script via S3" \
          --parameters "commands=[
            'mkdir -p /tmp/deploy_scripts',
            'aws s3 cp s3://${S3_BUCKET}/${SCRIPT_NAME} /tmp/deploy_scripts/${SCRIPT_NAME}',
            'chmod +x /tmp/deploy_scripts/${SCRIPT_NAME}',
            '/tmp/deploy_scripts/${SCRIPT_NAME}'
          ]" \
          --cloud-watch-output-config "{\"CloudWatchOutputEnabled\":true,\"CloudWatchLogGroupName\":\"${LOG_GROUP}\"}" \
          --region $REGION
